# Python
__pycache__/
*.pyc
.venv/

# Mac
.DS_Store

# Node (rare but safe)
node_modules/

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/

# Lambda ZIP
lambda.zip

# AWS credentials (NEVER COMMIT)
.aws/

terraform.tfvars
*.tfvars
# Local environment files
