name: Terraform CI

on:
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  terraform:
    name: Terraform Format & Validate
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Init (without AWS backend)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate
